@use "@/assets/styles/partials/mixins" as *;
@use "@/assets/styles/partials/typography" as *;
@use "@/assets/styles/partials/variables" as *;

.post-footer{
    justify-self: end;
    background-color: white;
    padding: 1.5rem 1rem;
  margin-bottom: auto;

    &__buttons{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        border-radius: 4px;
    }
    &__button{
        @include typography(15px, 400, $White, 20px, none, capitalize);
        width: 50%;
        color: $Purple;
        background-color: white;
        border: 1px solid $Purple;
        padding: 1rem 0.5rem;
        border-radius: 4px;
    }
    &__terms{
        @include typography(16px, 400, gray, 20px, none, capitalize);
        text-align: center;
        margin-top: 1rem;
        padding-bottom: 2rem;
    }
    &__underline{
        text-decoration: underline;
    }
}

.button__publish{
    background-color: $Purple;
    color: $White;
}
