@use './typography' as *;
/* ------------------------------------------------ */
/*              MEDIA QUERY MIXINS                  */
/* ------------------------------------------------ */


@mixin respond-to-min ($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin respond-to-max ($breakpoint) {
    @media (min-width: $breakpoint) {
        @content 
    }
}


/* ------------------------------------------------ */
/*              TYPOGRAPHY MIXIN                    */
/* ------------------------------------------------ */

@mixin typography ($font-size, $font-weight, $color, $line-height, $text-decoration, $text-transform) {
    font-family: $primary-font;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    line-height: $line-height;
    text-decoration: $text-decoration;
    text-transform: $text-transform;
}