@use "@/assets/styles/partials/mixins" as *;
@use "@/assets/styles/partials/typography" as *;
@use "@/assets/styles/partials/variables" as *;

// @mixin typography (
//     $font-size, 
//     $font-weight, 
//     $color, 
//     $line-height, 
//     $text-decoration, 
//     $text-transform)
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: $Secondary;

    &__section-div{
        padding: 2.5rem 0 0 1.25rem;

        @include respond-to-min($tablet){
            padding: 3.75rem 0 0 2.5rem;
            width: 67%;
        }
        @include respond-to-min(1024px){
            display: flex;
            margin: 0 auto;
            width: 1024px;
            padding: 5.5rem 0 0 0;
        }
    }
    &-flex{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &-section{
        padding-bottom: 60px;
        min-width: 190px;
        width: 50%;
        &__header{
            @include typography(1rem, 400, $Gray, 20px, none, uppercase);
            letter-spacing: 0.125rem;
        }
        @include respond-to-min(1024px){
            padding-left: 71px;
            padding-bottom: 0;
            height: 230px;
        }
    }
    &__label{
        @include typography(15px, 400, $White, 20px, none, capitalize);
        margin-top: 15px;
        &:first-child{
            margin-top: 25px;
        }
        &:hover{
            cursor: pointer;
            color: $Green;
            transition: color 200ms linear 0s;
        }
    }
}

.footer-links{
    @include respond-to-min($tablet){
        display: flex;
        justify-content: center;
    }
    .footer-downloads{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    .footer-socials{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 30px;
        @include respond-to-min($tablet){
            margin-left: 50px;
        }
    }
}


.footer-copyright{
    @include typography(11px, 400, $Gray, 20px, none, uppercase);
    text-align: center;
    margin: 30px 40px 0;
    padding-bottom: 60px;
    @include respond-to-min($tablet){
        margin: 60px 0 0;
    }
}